body
{


background:-webkit-radial-gradient(yellow,blue);

color:blue;
}
b{
color:olive;
text-decoration:underline;

}



img
{
height:400px;
width:400px;
border-width:10px;
border-style:groove;
border-left-color:navy;
border-left-width:20px;
border-right-color:red;
border-right-width:20px;
border-right-style:solid;
border-left-style:solid;
border-radius:50px;
box-shadow: 0px 0px 50px 50px black;
}
}